@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
    --primary: #cf3a71;
    --background: #ededed;
    --text: #10141a;
    --modal-bg: #ededed;
}

.dark {
    --background: #10141a;
    --text: #ededed;
    --modal-bg: #0d0d0e;
}

@theme {
    --color-background: var(--background);
    --color-text: var(--text);
    --color-primary: var(--primary);
    --color-modal-bg: var(--modal-bg);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --breakpoint-xs: 480px;
}

body {
    /* background: var(--background);
  color: var(--foreground); */
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    @apply w-[98%] mx-auto max-w-[1240px];
}
.glass-effect {
    background: rgba(112, 111, 111, 0.2);
    backdrop-filter: blur(25px);
    border: 1px solid rgba(0, 0, 0, 0.3);
}
.dark .glass-effect {
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(18px);
    border: 1px solid rgba(255, 255, 255, 0.2);
}
.ant-modal-container {
    background: var(--modal-bg) !important;
    /* box-shadow: 10px 10px 10px white !important; */
    /* border: var(--text) 1px solid !important; */
    box-shadow: 0px 0px 5px 0px var(--text) !important;
    color: var(--text) !important;
}
